<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="acao_usuario.php" method="post">
        <input type="hidden" name="id_usuario" value="{id_usuario}">
        
        <label for="nome">Nome Completo:</label>
        <input type="text" name="nome" id="nome" value="{nome}">
        
        <label for="data_nasc">Data de Nascimento:</label>
        <input type="date" name="data_nasc" id="data_nasc" value="{data_nasc}">
        
        <label for="sexo">Sexo:</label>
        <input type="radio" name="sexo" id="sexo" value="F"> Feminino
        <input type="radio" name="sexo" id="sexo" value="M"> Masculino
        <input type="radio" name="sexo" id="sexo" value="O"> Outro
        
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" value="{cpf}">
        
        <label for="celular">Celular:</label>
        <input type="text" name="celular" id="celular" value="{celular}">
        
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" value="{email}">
        
        <label for="cep">CEP:</label>
        <input type="text" name="cep" id="cep" value="{cep}">
        
        <label for="estado">Estado:</label>
        <select name="estado" id="estado" class="form-select border-success text-center">
            <option value="{siglas}">{estados}</option>
        </select>

        <label for="cidade">Cidade:</label>
        <input type="text" name="cidade" id="cidade" value="{cidade}">
        
        <label for="bairro">Bairro:</label>
        <input type="text" name="bairro" id="bairro" value="{bairro}">
        
        <label for="rua">Rua:</label>
        <input type="text" name="rua" id="rua" value="{rua}">
        
        <label for="complemento">Complemento:</label>
        <input type="text" name="complemento" id="complemento" value="{complemento}">
        
        <label for="numero">Número:</label>
        <input type="text" name="numero" id="numero" value="{numero}">
        
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" value="{senha}">
        
        <label for="confirma">Confirme a sua senha:</label>
        <input type="password" name="confirma" id="confirma">
        
        <label for="permissao">Nivel Permissão:</label>
        <select name="permissao" id="permissao">
            <option value="{id_permissao}">{niveis}</option>     
        </select>
        <button type="submit" name="acao" id="acao" value="salvar">Salvar</button>
        <button type="submit" name="acao" id="acao" value="excluir">Excluir</button>
    </form>

    <table class="table table-hover border align-middle table-bordered">
            <tr class="table-dark">
                <th>Id</th>
                <th>sexo</th>
                <th>cpf</th>
                <th>Estado</th>
                <th>permissao</th>
                <th>Alterar</th>
            </tr>       
            {lista}
        </table>
</body>
</html>